<div id="form-div">
  <h1 style="margin-left: 13px">
    {{ (la$ | async)?.['name'] }}
  </h1>

  <div id="main-interface-courses">
    <div style="margin: 13px" class="card">
      <div class="card-header">
        <b>Selected courses</b>
      </div>
      <div class="card-body">
        <app-la-courses-table></app-la-courses-table>
      </div>
    </div>

    <div style="margin: 13px" class="card">
      <div class="card-header">
        <b>Favourite courses</b>
      </div>
      <div class="card-body">
        <app-la-favorites-table></app-la-favorites-table>
      </div>
    </div>
  </div>
</div>
