<div id="group-action">
  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      value=""
      id="flexCheckChecked"
      checked
    />
    <label class="form-check-label" for="flexCheckChecked"> Select All </label>
  </div>
  <div>
    <select class="form-control" id="faculty" name="faculty" required>
      <option value="">Select an Action</option>
      <option value="delete">Delete</option>
    </select>
  </div>
  <button type="button" class="btn btn-primary">Apply</button>
</div>
