#group-action{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#group-action > *{
    padding-inline: 10px;
}

.btn-primary{
    background-color: #FCA311;
    border-color: #FCA311;
  }