#cultural-ressources-details-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-left: 10px;
    background-color: #E5E5E5;
  }
  
  #cultural-ressources-details-comments{
    height: 100%;
    width: 70%;
    padding: 20px;
  }
  
  #cultural-ressources-details-left-toolbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  