<div class="list-group">
  <div id="create-la" class="create-la-input">
    <div id="create-button" *ngIf="!showInput" class="create-button-container">
      <a (click)="toggleInput()" class="create-button">Create LA</a>
    </div>
    <div *ngIf="showInput" class="input-button-container">
      <input #laInput type="text" placeholder="Enter LA Name" [(ngModel)]="laName"
             (click)="$event.stopPropagation()"
             (keyup.enter)="createLaDocument()" />
      <button (click)="createLaDocument()">
        <img src="./../../assets/images/check.png" alt="trash" width="15px">
      </button>
      <button (click)="toggleInput()">
        <img src="./../../assets/images/cross.png" alt="close" width="15px">
      </button>
    </div>
  </div>
  <div id="la-list">
    <!-- <a href="#" class="list-group-item list-group-item-action active">Dapibus ac facilisis in</a> -->
    <a *ngFor="let la of las$ | async" (click)="chooseCurrentLa(la.id)" class="la-item list-group-item list-group-item-action d-flex justify-content-between align-items-center">
      <span>{{ la.name }}</span>
      <button (click)="duplicateLa(la.id)">
        Duplicate
      </button>
      <button (click)="removeLa(la.id)" class="btn btn-danger" aria-label="Remove">
        &times;
      </button>
    </a>
  </div>
</div>
