<div id="root-culturalressources">
    <p>cultural-ressources works!</p>
    <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="card image-card" onclick="window.location.href='your_destination_page.html';">
              <img src="./../../assets/images/backgroundSDS.jpg" class="card-img" alt="Image">
              <div class="card-text">
                <div class="text-content">
                  <p>Hover over the image to see the text.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

