<div id="root-culturalressources">
  <div class="container" style="max-width: 1550px">
    <div class="row">
      <!-- Repeat this card block for each card -->
      <div class="col-lg-3 card-cont">
        <div class="card image-card" onclick="window.location.href='your_destination_page.html';">
          <img src="./../../assets/images/backgroundSDS.jpg" class="card-img" alt="Image">
          <div class="card-text">
            <div class="text-content">
              <p>Hover over the image to see the text.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Repeat this card block for each card -->
      <!-- Repeat this card block for each card -->
      <div class="col-lg-3 card-cont">
        <div class="card image-card" onclick="window.location.href='your_destination_page.html';">
          <img src="./../../assets/images/backgroundSDS.jpg" class="card-img" alt="Image">
          <div class="card-text">
            <div class="text-content">
              <p>Hover over the image to see the text.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Repeat this card block for each card -->
      <!-- Repeat this card block for each card -->
      <div class="col-lg-3 card-cont">
        <div class="card image-card" onclick="window.location.href='your_destination_page.html';">
          <img src="./../../assets/images/cart.png" class="card-img" alt="Image">
          <div class="card-text">
            <div class="text-content">
              <p>Hover over the image to see the text.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Repeat this card block for each card -->
      <!-- Repeat this card block for each card -->
      <div class="col-lg-3 card-cont">
        <div class="card image-card" onclick="window.location.href='your_destination_page.html';">
          <img src="./../../assets/images/full-heart.png" class="card-img" alt="Image">
          <div class="card-text">
            <div class="text-content">
              <p>Hover over the image to see the text.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Repeat this card block for each card -->
      <!-- Repeat this card block for each card -->
      <div class="col-lg-3 card-cont">
        <div class="card image-card" onclick="window.location.href='your_destination_page.html';">
          <img src="./../../assets/images/backgroundSDS.jpg" class="card-img" alt="Image">
          <div class="card-text">
            <div class="text-content">
              <p>Hover over the image to see the text.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Repeat this card block for each card -->
      <!-- Repeat this card block for each card -->
      <div class="col-lg-3 card-cont">
        <div class="card image-card" onclick="window.location.href='your_destination_page.html';">
          <img src="./../../assets/images/backgroundSDS.jpg" class="card-img" alt="Image">
          <div class="card-text">
            <div class="text-content">
              <p>Hover over the image to see the text.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Repeat this card block for each card -->
      <!-- Repeat this card block for each card -->
      <div class="col-lg-3 card-cont">
        <div class="card image-card" onclick="window.location.href='your_destination_page.html';">
          <img src="./../../assets/images/backgroundSDS.jpg" class="card-img" alt="Image">
          <div class="card-text">
            <div class="text-content">
              <p>Hover over the image to see the text.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Repeat this card block for each card -->
      <!-- Repeat this card block for each card -->
      <div class="col-lg-3 card-cont">
        <div class="card image-card" onclick="window.location.href='your_destination_page.html';">
          <img src="./../../assets/images/backgroundSDS.jpg" class="card-img" alt="Image">
          <div class="card-text">
            <div class="text-content">
              <p>Hover over the image to see the text.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Repeat this card block for each card -->
      <!-- Repeat this card block for each card -->
      <div class="col-lg-3 card-cont">
        <div class="card image-card" onclick="window.location.href='your_destination_page.html';">
          <img src="./../../assets/images/backgroundSDS.jpg" class="card-img" alt="Image">
          <div class="card-text">
            <div class="text-content">
              <p>Hover over the image to see the text.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Repeat this card block for each card -->
      <!-- Repeat this card block for each card -->
      <div class="col-lg-3 card-cont">
        <div class="card image-card" onclick="window.location.href='your_destination_page.html';">
          <img src="./../../assets/images/backgroundSDS.jpg" class="card-img" alt="Image">
          <div class="card-text">
            <div class="text-content">
              <p>Hover over the image to see the text.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Repeat this card block for each card -->
      <!-- Repeat this card block for each card -->
      <div class="col-lg-3 card-cont">
        <div class="card image-card" onclick="window.location.href='your_destination_page.html';">
          <img src="./../../assets/images/backgroundSDS.jpg" class="card-img" alt="Image">
          <div class="card-text">
            <div class="text-content">
              <p>Hover over the image to see the text.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Repeat this card block for each card -->
    </div>
  </div>
