<div id="main-menu">
    <a [routerLink]="['courses']">
    <div id="courses">
      <p class="title-menu">Courses</p>
      <div class="description-menu">
        <p>Consult the list of available courses for Erasmus + students</p>
      </div>
    </div>
    </a>
    <a [routerLink]="['createla']">
      <div id="learning-agreement">
        <p class="title-menu">Learning Agreement</p>
        <div class="description-menu">
          <p>Create and manage your learning agreement</p>
        </div>
      </div>
    </a>
    <a href="">
      <div id="cultural-ressources">
        <p class="title-menu">Cultural Ressources</p>
        <div class="description-menu">
          <p>Discover the cultural places here in Poznan</p>
        </div>
      </div>
    </a>
    <a href="">
    <div id="forum">
      <p class="title-menu">Forum</p>
      <div class="description-menu">
        <p>Ask your questions in this section</p>
      </div>
    </div>
    </a>
  </div>