@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap');

#main-menu{
    background-image: url("../../../assets/images/backgroundSDS.jpg");
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
#main-menu a{
    background-color: rgba(20, 29, 56, 0.8); 
    color: white;
    height: 35%;
    width: 35%;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

#main-menu a:hover{
    background-color: rgba(255, 29, 56, 0.5);
    text-decoration: none;
}

#main-menu a div{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.description-menu{
    display: flex;
    justify-content: center;
}

.description-menu p{
    padding: 25px;
    font-size: 20px;
}

p{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 70px;
    font-weight: bold;
    color: #E5E5E5;
}