#main-menu{
    background-image: url("../../images/backgroundSDS.jpg");
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
#main-menu a{
    background-color: rgba(20, 29, 56, 0.8); 
    color: white;
    height: 35%;
    width: 35%;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

#main-menu a:hover{
    background-color: rgba(255, 29, 56, 0.5);
    text-decoration: none;
}

#main-menu a div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.description-menu{
    font-size: 20px;
}