<div id="main-menu">
    <a [routerLink]="['courses']">
    <div id="courses">
      <p class="title-menu">Courses</p>
      <p class="description-menu">Consult the list of available courses for Erasmus + students</p>
    </div>
    </a>
    <a href="">
      <div id="learning-agreement">
        <p class="title-menu">Learning Agreement</p>
        <p class="description-menu">Create and manage your learning agreement</p>
      </div>
    </a>
    <a href="">
      <div id="cultural-ressources">
        <p class="title-menu">Cultural Ressources</p>
        <p class="description-menu">Discover the cultural places here in Poznan</p>
      </div>
    </a>
    <a href="">
    <div id="forum">
      <p class="title-menu">Forum</p>
      <p class="description-menu">Ask your questions in this section</p>
    </div>
    </a>
  </div>