<div id="root-createla" [ngClass]="{'logged-out': !isLoggedIn}">
  <div *ngIf="!isLoggedIn" id="main-content">
        <div id = "login-message" style="text-align: center; margin: auto; width: 70%;">
            <h1>Please login or sign in to access this section</h1>
        </div>

    </div>
    <div *ngIf="isLoggedIn" id="main-content">
        <div style="background-color: #CCCCCC; padding: 20px;" id="left-toolBar">

            <h2>Learning Agreements</h2>
            <app-la-list-menu></app-la-list-menu>

        </div>
        <div id="main-interface">
            <app-la-main-interface></app-la-main-interface>
        </div>
    </div>
</div>
