.sign-in-up{
  color: white;
  background-color: #FCA311;
  border-color: #FCA311;
  width: 100%;
  font-weight: bold;
}

.log-out{
  width: 100%;
  font-weight: bold;
}

.modal-content{
  color: #14213D;
  font-weight: bold;
  background-color: #E5E5E5;
  border: solid 1px #14213D;
  border-radius: 20px;
}

.modal-title{
  font-weight: bold;
}

#buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#buttons > .btn{
  width: 100%;
  font-weight: bold;
  margin-inline: 10px;
  background-color: #FCA311;
  border-color: #FCA311;
}

button img{
  width: 20px;
}
