#activity-details-container{
    background-color: #14213D;
    color: #E5E5E5;
    border: solid 1px #E5E5E5;
    border-radius: 20px;
    padding: 5px;
    width: 50vh;
    height: 80vh;
    font-size: 25px;
    overflow-y: auto; /* Add this line to enable vertical scrollbar when content overflows */
  }
  #activity-details-container h3 {
    font-size: 35px;
    text-align: center;
  }

  #activity-details-container::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
  background-color: transparent;
}

#activity-details-container::-webkit-scrollbar-thumb {
  background-color: #fca311; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Roundness of the thumb */
}

#activity-details-container::-webkit-scrollbar-track {
  background-color: transparent; /* Color of the scrollbar track */
}

#activity-details-container::-webkit-scrollbar-corner {
  background-color: #14213D;
}
  

  
  
 