#comments-container{
  height: 79vh;
  display: flex;
  flex-direction: column;
}

#comments-header{
  height: 7%;
  margin-bottom: 20px;
}

#comments-view{
  height: 65vh;
  border: solid 1px;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  overflow:auto;
}



.user-comment{
  margin-bottom: 20px;
  border: solid 1px;
  border-radius: 20px;

  background-color: #14213D;
  overflow: hidden;
  color: white;
}

.user-comment-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  font-size: 15px !important;
  border-bottom: solid 1px white;
  font-weight: bold;
}
.user-comment-header-left{
  margin-left: 10px;

}
.user-comment-header-right{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;
  margin-right: 10px;
}

.user-comment-content{
  margin: 10px;
  font-size: 15px !important;
}

#comments-input{
  height: 15%;
  margin-top: 20px;
  border: solid 1 px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #14213D;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#comment-content{
  padding: 10px;
  height: 50px;
  overflow: auto;
  background-color: #E5E5E5;
  border: solid 1 1px;
  border-radius: 100px;
  width: 50vw;

}

#comment-send > button{
  background-color: #FCA311;
  color: #14213D;
  border: solid 1px;
  border-radius: 20px;
  height: 40px;
  width: 10vw;
}

#comment-send > button:hover{
  background-color: #14213D;
  color: #E5E5E5;
  border: solid 1px;
  border-radius: 20px;
  height: 40px;
  width: 10vw;
}

#comments-view,
#comment-content {
  scrollbar-width: thin;
  scrollbar-color: #FCA311;

  &::-webkit-scrollbar {
    width: 12px;
  }


  &::-webkit-scrollbar-thumb {
    background-color: #FCA311;
    border-radius: 6px;
    border: 3px solid ;
  }

}
