<!DOCTYPE html>
<html>
  <body>
    <header>
      <div id="left-part">
        <a [routerLink]="['/']">
          <img src="https://i.studyinpoland.pl/universities/logo/poznan-university-of-technology.png" alt="Poznan University Of Technology Icon">
        </a>
        <p>CES</p>
      </div>
      <div id="right-part">
        <ul class="sections">
          <li><a [routerLink]="['courses']">Courses</a></li>
          <li><a [routerLink]="['createla']">Learning Agreement</a></li>
          <li><a href="[URL de la page ressources]">Cultural Ressources</a></li>
          <app-user></app-user>
        </ul>
      </div>
    </header>
    <div id="main-footer">
      <main>
        <router-outlet></router-outlet>
      </main>
      <footer>
        <p>Realized by <br> Erasmus+ Students</p>
      </footer>
    </div>
  </body>
</html>
