<!DOCTYPE html>
<html>
  <body>
    <header>
      <div id="left-part">
        <a href="https://www.put.poznan.pl/en">
          <img src="https://i.studyinpoland.pl/universities/logo/poznan-university-of-technology.png" alt="Poznan University Of Technology Icon">
        </a>
        <p>Website Title</p>
      </div>
      <div id="right-part">
        <ul class="sections">
          <a href=""><li>Section 1</li></a>
          <a href=""><li>Section 2</li></a>
          <a href=""><li>Section 3</li></a>
          <a href=""><li>Test nico</li></a>
        </ul> 
      </div>
    </header>
    <main>
      <app-courses></app-courses>
    </main>
    <h1>dd</h1>
    <ul>
      <!--<li class="text" *ngFor="let item of items$ | async">
        {{item.name}}
      </li>-->
    </ul> 
  </body>
</html>