@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap');
*{
    font-family: 'Be Vietnam Pro', sans-serif;
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#14213D;
    color: white;
    width: 100%;
}

#left-part{
    display: flex;
    align-items: center;
}

#left-part p{
    margin: 0px;
    font-size: 30px;
    font-weight: bold;
}

#left-part img{
    width: 50px;
    margin: 10px;
}
  
  #right-part ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; 
  }
  
  #right-part a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 0 10px; 
  }
  
  #right-part a:hover {
    text-decoration: underline;
  }
  

#main-footer{
    height: 100%;
    display: flex;
    flex-direction: column;
}
main{
    flex: 1;
}
footer {
    text-align: center;
    color: white;
    background-color: #14213D;
    font-weight: bold;
    padding: 10px;
  }
  