.btn-primary{
    background-color: #FCA311;
    border-color: #FCA311;
}



#favorite-icon{
  padding: 0;
  margin-left: 10px;
}


#favorite-icon img{
  padding: 0;
  width: 23px;
}

#up-arrow{
margin-left: 10px;
}

#up-arrow img{
  padding: 0;
  width: 23px;

}

#action-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
