<!-- fav-courses.component.html -->
<div *ngIf="isLoggedIn">
  <table *ngIf="(favoriteCourses$ | async)?.length"
    class="table table-bordered table-striped table-hover table-secondary">
    <thead>
      <tr>
        <th>Name</th>
        <th>ECTS</th>
        <th>Semester</th>
        <th>Language</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of favoriteCourses$ | async">
        <td class="course-name">
          <a href="{{ course.link }}">{{ course.name }}</a>
        </td>
        <td>{{ course.ects }}</td>
        <td>{{ course.semester }}</td>
        <td>{{ course.language }}</td>
        <td id = "action-buttons" style="display: flex; align-items: center;">
          <button id = "up-arrow" class="btn btn-primary" (click)="createLaCourseDocument(course.id)">
            <img src="./../../assets/images/arrow.png" alt="heart">
          </button>
          <button id = "favorite-icon" class="btn" (click)="toggleFavorite(course.id)" [attr.data-course-id]="course.id">
            <img
              [src]="isCourseFavorited(course.id) ? './../../assets/images/full-heart-official.png' : './../../assets/images/heart-official.png'"
              alt="heart" width="15px">
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
