.btn-primary{
    background-color: #FCA311;
    border-color: #FCA311;
    width: 100%;
}


#favorite-icon{
  padding: 0;
}

#favorite-icon img{
  padding: 0;
  width: 23px;
}

#up-arrow{
padding-inline: 2px;
margin-left: 10px;

}

#up-arrow img{
  padding: 0;
  width: 23px;

}
