.course-name * {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.table {
  border-radius: 10px; /* Vous pouvez ajuster la valeur pour modifier le degré d'arrondi */
  overflow: hidden; /* Pour s'assurer que le fond ne dépasse pas les coins arrondis */
}

.table-logout{
  margin-top: 45px;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e5e5e5;
  padding: 10px 20px;
  border: 1px solid #14213d;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out;
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
}
.popup-buttons > .btn {
  width: 33%;
}
.popup.active {
  opacity: 1;
  visibility: visible;
}

#favorite-icon{
  padding: 0;
}

#favorite-icon img{
  padding-inline: 0;
  width: 23px;
}

#course-list{
  min-height: 50vh;
  max-height: 75vh;
  overflow-y: auto;
}

#add-to-icon{
  padding: 0;
  margin-left: 10px;
}

#add-to-icon img{
  padding: 0;
  width: 23px;
}

#delete-icon{
  padding: 0;
  margin-left: 10px;
}

#delete-icon img{
  padding: 2px;
  width: 23px;
}

.dropdown {
  position:static;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 130px;
  max-height: 300px;
  right:35px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  overflow-y: auto;
  border: solid 1px #14213d;
  border-radius: 20px;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show .dropdown-content {
  display: block;
  position: absolute !important;
}
.dropdown-content.show {
  display: block;
}
.dropdown-content::-webkit-scrollbar {
  width: 8px;
}

.dropdown-content::-webkit-scrollbar-track {
  background:transparent;
}

.dropdown-content::-webkit-scrollbar-thumb {
  background: #888;
  border: solid 1px #14213d;
  border-radius: 30px;
}

.dropdown-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#action-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.addToLa-success{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  border: 1px solid #14213d;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out;
}
.addToLa-success.active{
  opacity: 1;
  visibility: visible;
}
