.course-name *{
    display: inline-block;
    vertical-align: middle; 
    margin-right: 10px; 
}
.table {
    border-radius: 10px; /* Vous pouvez ajuster la valeur pour modifier le degré d'arrondi */
    overflow: hidden; /* Pour s'assurer que le fond ne dépasse pas les coins arrondis */
  }
  