.course-name * {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.table {
  border-radius: 10px; /* Vous pouvez ajuster la valeur pour modifier le degré d'arrondi */
  overflow: hidden; /* Pour s'assurer que le fond ne dépasse pas les coins arrondis */
}

.table-logout{
  margin-top: 45px;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e5e5e5;
  padding: 10px 20px;
  border: 1px solid #14213d;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out;
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
}
.popup-buttons > .btn {
  width: 33%;
}
.popup.active {
  opacity: 1;
  visibility: visible;
}
